/*html {
	height: 100%;
}*/
body {
	/*height: 100%;*/
	
	background-image: url("../images/swirl.png");
}

a {
	color: gray;
	text-decoration: underline;
}

a:link {
	color: yellow;
	text-decoration: overline;
}

a:visited {
	color: red;
	text-decoration: underline;
}

a:hover {
	color: blue;
	text-decoration: line-through;
}

a:active {
	color: pink;
	text-decoration: none;
}

p::before {

content: "Instructions: ";
}

