.top {
  font: Tahoma;
  font-size: 1em;
  color: blue;
  
}

.top h1 {
  text-decoration: line-through;
  line-height: 1.5;
  direction: ltr;
}

.top p {
  text-transform: lowercase;
}

.middle {
  font-family: sans-serif;
  color: yellow;
  word-spacing: 0.8em;
}

.middle h1 {
  text-decoration: underline;
  font: Helvetica; 

}

.middle p {
  text-shadow: 5px 5px 5px #000;
}

.bottom {
  font: Arial, small-caps;
  direction: ltr;
  color: blue;
  font-weight: bold;
  line-height: 1.5
  
}

.bottom h1 {
  font-weight: bold;
}

.bottom p {
  color: pink;
  direction: rtl;

}