.header-name, .section-title {
  color: black;
  font-size: 2em;
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
  /*text-shadow: 2px 2px 2px #000;*/
}

.text-style {
  font-family: 'Shadows Into Light', cursive;
  color: black;
  font-size: 1.1em;
  font-weight: lighter;
}

