body {
 
  font-family: Tahoma;
  color: #000000;
  font-size: 1em;
  background-image: url("./images/absurdidad.png");
  margin: 0;
  
}


/****************************************
                NAVIGATION
*****************************************/
.navbar {
  clear: both;
  padding-bottom:1em;
}

.links {
  color: gray;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400l;
  padding-right: 1em;
}

.toplinks {
  background: black;
  border-style: solid;
  border-color: white;
  border-radius: 5px;
  clear: both;
  display: inline-block;
  text-align: center;
}

a:link {
  color: #808080;
}

a:link.links {
  color: gray;
  text-decoration: none;
}

a:visited {
  color: #8D8DE2;
}

a:hover {
  color: #CC80FF;
}

a:active {
  color: #99FF99;
}



/**************************************
  HEADER
**************************************/  
hgroup {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-weight: normal;
  font-size: 2em;

}

h1 {
  color: gray;
}

header {
  padding-top: 0;
  padding-left: 1em;
  background-image: url("./images/binding_dark.png") ;
  text-align: center;
}



.socials {
  clear: both;
  padding-bottom:1em;
  font-size: 30px;
  
}

.header-name {
  color: #3333FF;
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
} 

.text-style {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-size: 1.1em;
  font-weight: lighter;
  text-align: justify;
}





footer {
  background-image: url("./images/binding_dark.png");
  /*background-color: black;*/
  text-align: center;
  margin: 0 auto; 
  padding: 5px;
  margin-bottom: auto;
}



#myresume {
  padding: 5px;
}





/***************************************************
MAIN CONTENT
****************************************************/
img {
  border-radius: 20px;
  margin-top: 1em;
  border-style: solid;
  border-color: white;
  
}
.maincontent{
  width: 25%;
  background-color: white;
  background-image: url("./images/binding_light.png");
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  border-left: thick solid black;
  border-right: thick solid black;
}


.bio {
  display: block;
}

.res{
  display: inline;
}

