* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  color: gray;
}

header {
 
  
}

.socials {
  font-size: 30px;
  padding: 0 auto 1em auto;
}

.headcontent {
  padding: 0px;
  text-align: center;
  background-color: #390160;
  position: fixed;
  top: 0px;
  width: 95%;
  margin: 0px auto;
  z-index: 5;
}

.fixed {
  position: fixed;
}

body {
 padding: 20px 20px 0px 20px;
font-family: Tahoma;
color: #000000;
font-size: 1em;
margin: 0;
background-color: rgb(249, 246, 246);
background-image: url("./images/absurdidad.png");
}

footer {
  text-align: center;
  margin-bottom: auto;
  position: inherit;
  width: 100%;
}

.navbar {
  padding-bottom:1em;
}

.maincontent{
  margin-top: 150px;
}



.bio {
  vertical-align: top;
  text-align: center;
  background-color: white;
  padding: 0 20px;
  margin: 5px 30px 10px;
  width: 25%;
  display: inline-block;
}

.bio img{
  position: fixed;
  top: 0px;
  right: 180px;
  border-radius: 100%;
  border: 2px solid white;
  z-index: 10;
  border: 2px solid #442D39;
}

.bio p{
  text-align: left;
  color: black;
  font-weight: 400;
}

.resume {
  vertical-align: top;
  width: 65%;
  display: inline-block;
  clear: both;
  z-index: -1;
  /*background-color: black;*/
  background-color: white;
  padding-bottom: 82px;
  margin-top: 5px;
}

/*.resume h1 {
  text-align: center;
  font-weight: bold;
  color: #0D0D0D;
}*/

.resume h2.header-name, ul, li {
  color: black;
  font-weight: 400;
}

.section-title {
  color: #0D0D0D;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  margin-top: 15px; 
  text-align: center;
}

.header-name {
  color: #8D8DE2;
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

h2.header-name  {
  font-size: 1.3em;
  font-weight: lighter;
}
h1.header-name{
  font-family: 'Courgette', sans-serif;
}
.text-style {
  font-family: 'Raleway', sans-serif;
  color: #000000;
  font-size: 1.1em;
  font-weight: lighter;
  /*text-align: justify;*/
}




/*****************************************
NAV
******************************************/
.toplinks {
  display: inline-block;
  text-align: center;
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-decoration: none;
  border: 2px solid #442D39;
  border-radius: 2px;
  background-color: black;
  background: rgba(0,0,0,.5);
}

a:link {
  color: #808080;
  text-decoration: none;
}

a:link.links {
  color: gray;
  text-decoration: none;
}

a:visited {
  color: #8D8DE2;
}

a:hover {
  color: #CC80FF;
}

a:active {
  color: #99FF99;
}

.toplinks a {
  color: black;
  text-decoration: overline;
  background-color: purple;
}

.bottomlinks {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: #8D8DE2;
  background-color: #390160;
  padding: 10px;
  font-family: "Montserrat";
  font-weight: bold;
}